Prometheus/Prometheus.Tests/obj/Debug
Prometheus/Prometheus/obj/Debug
Prometheus/packages
Prometheus/Prometheus.Tests/bin/
Prometheus/Prometheus/userfiles/docs
Prometheus/Prometheus/userfiles/images
Prometheus/Prometheus/bin
Prometheus/Prometheus/Scripts/images
Prometheus/Prometheus/obj/Release
Prometheus/Prometheus.Tests/obj/Release/
