Prometheus/Prometheus.Tests/obj/Debug
Prometheus/Prometheus/obj/Debug
Prometheus/Prometheus.Tests/bin/
Prometheus/Prometheus/userfiles/docs
Prometheus/Prometheus/userfiles/images
Prometheus/Prometheus/bin
Prometheus/Prometheus/Scripts/images
Prometheus/Prometheus/obj/Release
Prometheus/Prometheus.Tests/obj/Release/
Prometheus/Prometheus/userfiles/VCSEL-EMAIL-CHECK
Prometheus/Prometheus.Tests/obj
Prometheus/Prometheus/obj/
Prometheus/Prometheus/App_Data/Prometheus.mdf
Prometheus/Prometheus/App_Data/Prometheus_log.ldf
Prometheus/Prometheus/Properties/PublishProfiles/Test.pubxml.user
Prometheus/Prometheus/userfiles/log2017-04-26
Prometheus/.vs/Prometheus/v15/.suo
Prometheus/.vs/Prometheus/v15/Server/sqlite3/db.lock
Prometheus/.vs/Prometheus/v15/Server/sqlite3/storage.ide
Prometheus/.vs/Prometheus/v15/Server/sqlite3/storage.ide-shm
Prometheus/.vs/Prometheus/v15/Server/sqlite3/storage.ide-wal
Prometheus/Prometheus/Content/FAIntroduce.mp4
Prometheus/Prometheus/userfiles/BIOLDDATA.txt
Prometheus/Prometheus/userfiles/BIHTOLDATA.txt
