@using Prometheus.Models;

<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Friend Site<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>
                <a href="http://cn-traceview/" target="_blank">Trace View</a>
            </li>
            <li>
                <a href="http://wux-parallel/activeme/" target="_blank">Active ME</a>
            </li>
        </ul>
    </li>
</ul>

    <ul class="nav navbar-nav navbar-right">
        @*<li>@Html.ActionLink("Register", "RegisterUser", "User")</li>*@
        @{
            var ckdict = CookieUtility.UnpackCookie(Request);
            if (ckdict.ContainsKey("logonuser") && !string.IsNullOrEmpty(ckdict["logonuser"]))
            {
                <li>@Html.ActionLink("Log out", "LoginOutUser", "User")</li>
            }
            else
            {
                <li>@Html.ActionLink("Log in", "LoginUser", "User")</li>
            }

        }
        
    </ul>



