@using Prometheus.Models;



    <ul class="nav navbar-nav navbar-right">
        @{
            var ckdict = CookieUtility.UnpackCookie(Request);
            if (ckdict.ContainsKey("logonuser") && !string.IsNullOrEmpty(ckdict["logonuser"]))
            {
                <li>@Html.ActionLink("Log out", "LoginOutUser", "User")</li>
            }
            else
            {
                <li>@Html.ActionLink("Log in", "LoginUser", "User")</li>
            }
        }
        
    </ul>



