@using Prometheus.Controllers;

    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "RegisterUser", "User")</li>
        @{
            var ckdict = UserController.UnpackCookie(Request);
            if (ckdict.ContainsKey("logonuser") && ckdict["logonuser"] != "")
            {
                <li>@Html.ActionLink("Log out", "LoginOutUser", "User")</li>
            }
            else
            {
                <li>@Html.ActionLink("Log in", "LoginUser", "User")</li>
            }

        }
        
    </ul>

