
@{
    ViewBag.Title = "CommitUserMatrix";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Commit User Matrix</h2>

<hr/>

@using (Html.BeginForm("CommitUserMatrix", "CustomerData", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">

                <div class="col-xs-4">
                    <span class="btn btn-default btn-file" id="choosefile1">
                        User Matrix Data<input type="file" name="files1" id="file1" runat="server" onchange="ShowFileNames1(this)" />
                    </span>
                </div>
                <div class="col-xs-8">
                    <div class="col-xs-11">
                        <label class="control-label" id="showfile1" name="showfile1"></label>
                    </div>
                    <div class="col-xs-1">
                        <input class="form-control text-box single-line" value="" id="RMAFileName" name="RMAFileName" type="hidden" />
                    </div>
                </div>
            </div>

            <script type="text/javascript">
                    function ShowFileNames1(oFile) {
                        $('#showfile1').text(oFile.value);
                        document.getElementById("RMAFileName").value = oFile.value;
                    }
            </script>
        </div>
    </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <div class="col-xs-3"><input type="submit" value="Submit" class="btn btn-default" /></div>
                    <div class="col-xs-9"></div>
                </div>
            </div>
        </div>
}

