@{
    ViewBag.Title = "ReviewVcselData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Review Vcsel Data</h2>

@if (Model != null)
{

    foreach (var keyvalp in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">@keyvalp.Key</h4>
             </div>
                <div class="panel-body" style="overflow-x:scroll">
                    <table class="table table-bordered table-hover">
                        <tbody>

                            @foreach (var line in keyvalp.Value)
                            {
                                <tr>
                                    @foreach (var item in line)
                                    {
                                        <td>
                                            <textarea class="form-control" style="width: 150px;height:24px;overflow-y: scroll;overflow-x:unset;font-size:8px">@item</textarea>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
           </div>
      }
}
