@{
    ViewBag.Title = "ReviewVcselData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row col-md-12">
    <div class="col-md-4">
        <h2>Review Vcsel Data</h2>
    </div>
    <div class="col-md-2">
        <h2><button class="form-control" data-toggle="tooltip" title="Export Vcsel Usage" onclick="ExportVcselUsage()" type="button"><span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span></button></h2>
    </div>
    <div class="col-md-6">
    </div>
    <script type="text/javascript">
        function ExportVcselUsage() {
            var myurl = '/CustomerData/ExportVcselData';
            window.open(myurl, '_blank');
        }
    </script>
</div>
<hr/>

@if (Model != null)
{
    var idx = 0;
    <table id="vcseldatatable" class="display" cellspacing="0">
        <thead>
            @foreach (var line in Model)
            {
                <tr>
                    @foreach (var item in line)
                            {
                        <th style="text-align:center;font-size:10px">@item</th>
                    }
                </tr>
                break;
            }
        </thead>

        <tbody>
            @foreach (var line in Model)
            {
                if (idx == 0)
                {
                    idx = idx + 1;
                    continue;
                }
                <tr>
                    @foreach (var item in line)
                    {
                        <th style="text-align:center;font-size:10px">@item</th>
                    }
                </tr>
            }
        </tbody>
    </table>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#vcseldatatable').DataTable({
                'iDisplayLength': 50,
                'aLengthMenu': [[25, 50, 100, -1],
                                [25, 50, 100, "All"]],
                "aaSorting": []
            });
                    } );
    </script>
       
        @*foreach (var keyvalp in Model)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">@keyvalp.Key</h4>
                     </div>
                        <div class="panel-body" style="overflow-x:scroll">
                            <table class="table table-bordered table-hover">
                                <tbody>

                                    @foreach (var line in keyvalp.Value)
                                    {
                                        <tr>
                                            @foreach (var item in line)
                                            {
                                                <td>
                                                    <textarea class="form-control" style="width: 150px;height:24px;overflow-y: scroll;overflow-x:unset;font-size:8px">@item</textarea>
                                                </td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                   </div>
              }*@
}
