@model Prometheus.Models.IssueViewModels

@{
    ViewBag.Title = "TaskAttachment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-xs-1 text-right">
        <img src="~/Content/images/PJ/Task.png" style="height:45px; width:45px">
    </div>
    <div class="col-xs-11">
        <ol class="breadcrumb" style="font-size:18px">
            <li><a data-toggle="tooltip" title="Goto ViewAll" href="/Project/ViewAll">All Projects</a></li>
            <li><a data-toggle="tooltip" title="Goto Project Detail" href="/Project/ProjectDetail?ProjectKey=@(Model.ProjectKey)">Project Detail</a></li>
            <li><a data-toggle="tooltip" title="Goto Task" href="/Issue/UpdateIssue?issuekey=@(Model.IssueKey)">Update Task</a></li>
            <li class="active">Task Attachment</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">&nbsp;</div>
</div>


@if (Model != null && Model.AttachList.Count > 0)
{
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Attachments for @Model.Summary</h3>
                </div>
                <div class="panel-body">
                    @foreach (var item in Model.AttachList)
                    {
                        if (item.Contains("<a href"))
                        {
                            <div class="row">
                                @Html.Raw(item)
                            </div>
                        }
                        else
                        {
                            var fns = item.Split(new char[] { '/' });
                            var fn = fns[fns.Length - 1];
                            <div class="row">
                                <a href="@item" target="_blank">
                                    <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>@fn
                                </a>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
}
