@model Prometheus.Models.IssueViewModels

@{
    ViewBag.Title = "ShowRootCause";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Model != null)
{
    <div class="row">
        <div class="col-xs-1 text-right">
            <img src="~/Content/images/PJ/Task.png" style="height:45px; width:45px">
        </div>
        <div class="col-xs-11">
            <ol class="breadcrumb" style="font-size:18px">
                <li><a data-toggle="tooltip" title="Goto ViewAll" href="/Project/ViewAll">All Projects</a></li>
                <li><a data-toggle="tooltip" title="Goto Project Detail" href="/Project/ProjectDetail?ProjectKey=@(Model.ProjectKey)">Project Detail</a></li>
                <li><a data-toggle="tooltip" title="Goto Project Task" href="/Project/ProjectIssues?ProjectKey=@(Model.ProjectKey)">Project Task</a></li>
                <li><a data-toggle="tooltip" title="Goto Task" href="/Issue/UpdateIssue?issuekey=@(Model.IssueKey)">Update Task</a></li>
                <li class="active">Root Cause Investigation</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">&nbsp;</div>
    </div>

    foreach (Prometheus.Models.IssueComments item in Model.RootCauseCommentList)
    {
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">Root Cause Investigation</div>
                <div class="panel-body">
                    @Html.Raw(item.Comment)
                </div>
                <div class="panel-footer text-right">
                    Reporter: <a href="/User/UserCenter?username=@item.Reporter">@item.Reporter.Split(new char[] { '@' })[0]</a> @item.CommentDate.ToString()
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="row">
        <div class="col-xs-1 text-right">
            <img src="~/Content/images/PJ/Task.png" style="height:45px; width:45px">
        </div>
        <div class="col-xs-11">
            <ol class="breadcrumb" style="font-size:18px">
                <li><a data-toggle="tooltip" title="Goto ViewAll" href="/Project/ViewAll">All Projects</a></li>
                <li class="active">Root Cause Investigation</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">&nbsp;</div>
    </div>
}

