@Model Prometheus.Models.IssueViewModels
@{
    ViewBag.Title = "ShowInternalReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Internal Report</h2>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">Internal Report</div>
        <div class="panel-body">

        </div>
    </div>
</div>
