@Model Prometheus.Models.IssueViewModels

@{
    ViewBag.Title = "ShowCorrobrateAction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Corrobrate Actions</h2>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">Containment Actions</div>
        <div class="panel-body">

        </div>
    </div>
</div>

