@model Prometheus.Models.IssueViewModels

@{
    ViewBag.Title = "ShowRootCause";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Root Cause Investigation</h2>
@if (Model != null)
{
    foreach (Prometheus.Models.IssueComments item in Model.RootCauseCommentList)
    {
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">Root Cause Investigation</div>
                <div class="panel-body">
                    @Html.Raw(item.Comment)
                </div>
                <div class="panel-footer text-right">
                    Reporter: <a href="/User/UserCenter?username=@item.Reporter">@item.Reporter.Split(new char[] { '@' })[0]</a> @item.CommentDate.ToString()
                </div>
            </div>
        </div>
    }
}
