@Model Prometheus.Models.IssueViewModels

@{
    ViewBag.Title = "ShowRootCause";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Root Cause</h2>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">Root Cause</div>
        <div class="panel-body">

        </div>
    </div>
</div>
