
@{
    ViewBag.Title = "Smart CPK";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<link type="text/css" rel="stylesheet" href="~/Scripts/bootstrap-tagsinput/bootstrap-tagsinput.css" />
<script type="text/javascript" src="~/Scripts/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap-tagsinput/bootstrap3-typeahead.js"></script>
<script type="text/javascript" src="~/Scripts/cpkanalysis.js"></script>

<script type="text/javascript">
    $(function () {
        CPKANALYSE.init();
    })
</script>

<style type="text/css">
    .bootstrap-tagsinput {
        width:100%!important;    
    }
    th,td { text-align: center; }
</style>

<div class="row" style="margin-top:2%">
    <ol class="breadcrumb" style="width:600px">
        <li>Data Analysis</li>
        <li class="active">Smart CPK</li>
    </ol>
</div>

<div class="row">
    <div class="col-xs-1" MYTP="orange" style="font-family:'Arial Narrow';font-size:18px"><strong>&nbsp;&nbsp;Query</strong></div>
    <div class="col-xs-10">

        <div class="form-group">
            <div class="row">
                <div class="col-xs-6">
                    <label class="control-label col-xs-2" >Project<font color="red">*</font></label>
                    <div class="col-xs-10">
                        <input class="form-control" id="projectlist" name="projectlist" type="text" value=""/>
                    </div>
                </div>
                <div class="col-xs-6">
                    <label class="control-label col-xs-2" id="datatablelable" name="datatablelable">Data Table<font color="red">*</font></label>
                    <div class="col-xs-10">
                        <input class="form-control" id="mestablelist" name="mestablelist" type="text" value="" readonly />
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-xs-6">
                    <label class="control-label col-xs-2">PN DES/PN<font color="red">*</font></label>
                    <div class="col-xs-10">
                        <input class="form-control" id="pnlist" name="pnlist" type="text" value="" readonly />
                    </div>
                </div>
                <div class="col-xs-6">
                    <label class="control-label col-xs-2" id="paramlabel" name="paramlabel">Parameter<font color="red">*</font></label>
                    <div class="col-xs-10">
                        <input class="form-control" id="queryparam" name="queryparam" type="text" value="" readonly />
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-xs-6">
                    <label class="control-label col-xs-2">CornID</label>
                    <div class="col-xs-10">
                        <input class="form-control text-box single-line" id="cornid" name="cornid" type="text" value="" readonly />
                    </div>
                </div>
                <div class="col-xs-6">
                    <label class="control-label col-xs-2">Only PASS</label>
                    <div class="col-xs-10">
                        @Html.DropDownList("allpasslist", null, new { @id = "allpasslist",@name = "allpasslist", @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-xs-6">
                    <label class="control-label col-xs-2">Low Limit</label>
                    <div class="col-xs-10">
                        <input class="form-control text-box single-line" id="lowlimit" name="lowlimit" type="text" value="" readonly />
                    </div>
                </div>
                <div class="col-xs-6">
                    <label class="control-label col-xs-2">High Limit</label>
                    <div class="col-xs-10">
                        <input class="form-control text-box single-line" id="highlimit" name="highlimit" type="text" value="" readonly />
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-xs-6">
                    <label class="control-label col-xs-2">Start<font color="red">*</font></label>
                    <div class="col-xs-10">
                        <input class="form-control text-box single-line" id="StartDate" placeholder="Start Date" name="StartDate" type="text" value="" />
                    </div>
                </div>
                <div class="col-xs-6">
                    <label class="control-label col-xs-2">End<font color="red">*</font></label>
                    <div class="col-xs-10">
                        <input class="form-control text-box single-line" id="EndDate" placeholder="End Date" name="EndDate" type="text" value="" />
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-xs-6">
                    <label class="control-label col-xs-2">Database</label>
                    <div class="col-xs-7">
                        @Html.DropDownList("databaselist", null, new { @id = "databaselist",@name = "databaselist", @class = "form-control" })
                    </div>
                    <div class="col-xs-3">
                        <button class="btn btn-primary" id="QueryCPK" name="QueryCPK">Get CPK</button>
                    </div>
                </div>
                <div class="col-xs-6">
               </div>
            </div>
        </div>
    </div>
    <div class="col-xs-1"></div>
</div>

<hr style="border-color:#006DC0;" />

<div class="row">
    <div class="col-xs-1" MYTP="green" style="font-family:'Arial Narrow';font-size:18px"><strong>&nbsp;&nbsp;Output</strong></div>
    <div class="col-xs-10">
        <table class="table  table-condensed" id="mywafertable">
            <thead>
                <tr>
                    <th>Parameter</th>
                    <th>Data From</th>
                    <th>Normal Distribution</th>
                    <th>Mean</th>
                    <th>StdDev</th>
                    <th>CPK</th>
                    <th>DPPM</th>
                    <th>More Detail</th>
                    <th>Source Data</th>
                </tr>
            </thead>
            <tbody id="WaferTableID"></tbody>
        </table>

    </div>
    <div class="col-xs-1"></div>
</div>

<hr style="border-color:#006DC0;" />

<div class="row">
    <div class="col-xs-1" MYTP="red" style="font-family:'Arial Narrow';font-size:18px"><strong>&nbsp;&nbsp;Chart</strong></div>
    <div class="col-xs-10">
        <div class="v-container">
            <div class="v-content">
            </div>
        </div>
    </div>
    <div class="col-xs-1"></div>
</div>

<div class="modal" id="cpkdetailmodal" tabindex="-1" role="dialog" aria-labelledby="cpkdetailmodalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="cpkdetailmodalLabel">CPK Detail Info</h4>
            </div>

            <div class="row" style="margin-left:15px!important;margin-right:15px!important;">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-6">
                            <label class="control-label col-xs-4">Normal Probability(min)</label>
                            <div class="col-xs-8">
                                <input class="form-control text-box single-line cpkoutcla" id="probmin" name="probmin" type="text" value="" readonly />
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <label class="control-label col-xs-4">Normal Probability(max)</label>
                            <div class="col-xs-8">
                                <input class="form-control text-box single-line cpkoutcla" id="probmax" name="probmax" type="text" value="" readonly />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-6">
                            <label class="control-label col-xs-4">General CPK(min)</label>
                            <div class="col-xs-8">
                                <input class="form-control text-box single-line cpkoutcla" id="gcpkmin" name="gcpkmin" type="text" value="" readonly />
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <label class="control-label col-xs-4">General CPK(max)</label>
                            <div class="col-xs-8">
                                <input class="form-control text-box single-line cpkoutcla" id="gcpkmax" name="gcpkmax" type="text" value="" readonly />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-6">
                            <label class="control-label col-xs-4">Robust CPK(min)</label>
                            <div class="col-xs-8">
                                <input class="form-control text-box single-line cpkoutcla" id="rcpkmin" name="rcpkmin" type="text" value="" readonly />
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <label class="control-label col-xs-4">Robust CPK(max)</label>
                            <div class="col-xs-8">
                                <input class="form-control text-box single-line cpkoutcla" id="rcpkmax" name="rcpkmax" type="text" value="" readonly />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-6">
                            <label class="control-label col-xs-4">Mean(min))</label>
                            <div class="col-xs-8">
                                <input class="form-control text-box single-line cpkoutcla" id="meanmin" name="meanmin" type="text" value="" readonly />
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <label class="control-label col-xs-4">Mean(max)</label>
                            <div class="col-xs-8">
                                <input class="form-control text-box single-line cpkoutcla" id="meanmax" name="meanmax" type="text" value="" readonly />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-6">
                            <label class="control-label col-xs-4">StdDev(min)</label>
                            <div class="col-xs-8">
                                <input class="form-control text-box single-line cpkoutcla" id="stddevmin" name="stddevmin" type="text" value="" readonly />
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <label class="control-label col-xs-4">StdDev(max)</label>
                            <div class="col-xs-8">
                                <input class="form-control text-box single-line cpkoutcla" id="stddevmax" name="stddevmax" type="text" value="" readonly />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-6">
                            <label class="control-label col-xs-4">Selected CPK(min)</label>
                            <div class="col-xs-8">
                                <input class="form-control text-box single-line cpkoutcla" id="cpkmin" name="cpkmin" type="text" value="" readonly />
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <label class="control-label col-xs-4">Selected CPK(max)</label>
                            <div class="col-xs-8">
                                <input class="form-control text-box single-line cpkoutcla" id="cpkmax" name="cpkmax" type="text" value="" readonly />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-6">
                            <label class="control-label col-xs-4">DPPM(min)</label>
                            <div class="col-xs-8">
                                <input class="form-control text-box single-line cpkoutcla" id="rdppmmin" name="rdppmmin" type="text" value="" readonly />
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <label class="control-label col-xs-4">DPPM(max)</label>
                            <div class="col-xs-8">
                                <input class="form-control text-box single-line cpkoutcla" id="rdppmmax" name="rdppmmax" type="text" value="" readonly />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>