
@{
    ViewBag.Title = "MonthlyVcsel";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<link type="text/css" rel="stylesheet" href="~/Content/bootstrap-datepicker/bootstrap-datepicker.min.css" />
<link type="text/css" rel="stylesheet" href="~/Scripts/jquery-autocomplete/jquery.auto-complete.css" />
<link type="text/css" rel="stylesheet" href="~/Content/burnin.css" />

<script type="text/javascript" src="~/Scripts/jquery-autocomplete/jquery.auto-complete.min.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="~/Scripts/burnin.js"></script>
<script type="text/javascript">
        $(function(){
            BurnIn.init();
        })
</script>


<div class="row">
    <div class="nav navbar-nav navbar-left">
        <img src="~/Content/images/PJ/Yield.png" style="height:40px; width:40px">
    </div>
    <div class="nav navbar-nav navbar-left">
        <ol class="breadcrumb" style="width:600px">
            <li class="active">VCSEL YIELD</li>
        </ol>
    </div>
</div>

<div class="row">
    <nav class="col-xs-2 nav-sidebar">
        <ul class="nav">
            <li class="active">
                <a href="/DataAnalyze/MonthlyVcsel">
                    <span class="item-show">BurnIn Yield</span>
                </a>
            </li>
            <li>
                <a href="/DataAnalyze/WaferDistribution">
                    <span class="item-show">BurnIn Wafer</span>
                </a>
            </li>
            <li>
                <a href="/DataAnalyze/MonthlyHTOL">
                    <span class="item-show">Wafer QUAL Yield</span>
                </a>
            </li>
            <li>
                <a href="/DataAnalyze/HTOLDistribution">
                    <span class="item-show">Wafer QUAL Distribution</span>
                </a>
            </li>
            @*<li>
                <a href="/DataAnalyze/VcselRMA">
                    <span class="item-show">Vcsel RMA</span>
                </a>
            </li>*@
            @*<li>
                <a href="/DataAnalyze/ShipmentData">
                    <span class="item-show">Shipment Distribution</span>
                </a>
            </li>*@
        </ul>
    </nav>
    <div class="col-xs-10">
        <div class="v-container">
            <div class="v-filter">
                <div class="row row-margin">
                    <label class="col-xs-3">Date Period</label>
                    <div class="col-xs-3">
                        <div class="input-group date" data-date=""
                             data-date-format="yyyy-mm">
                            <input type="text" class="form-control"
                                   id="sdate" name="sdate" value="" readonly>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-1 text-center">~</div>
                    <div class="col-xs-3">
                        <div class="input-group date" data-date=""
                             data-date-format="yyyy-mm">
                            <input type="text" class="form-control"
                                   id="edate" name="edate" value="" readonly>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row row-margin">
                    <label class="col-xs-3">Wafer Type</label>
                    <div class="col-xs-3">
                        @Html.DropDownList("vcseltypeselectlist", null, new { @id = "vcseltypeselectlist", @class = "form-control" })
                    </div>
                    <div class="col-xs-1"></div>
                    <div class="col-xs-3 box-search">
                        <input type="button" class="btn btn-success" name="btn-search" id="btn-search" value="Search">
                    </div>
                </div>
            </div>
            <div class="v-content">
            </div>
            <span id="loadcomplete" name="loadcomplete" class="hide">FALSE</span>
        </div>
    </div>
    <div class="hidden">
        <a id="exportLink"></a>
    </div>
</div>

<div class="modal fade" id="boxplot-alert" tabindex="-1" role="dialog" style="margin-top:10%">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Data Link</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" name="m-wf-no" id="m-wf-no">
                <div class="row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-3">
                        <button type="button" class="btn btn-primary" id="btn-wf-download" name="btn-wf-download">Monthly Test Data</button>
                    </div>
                    <div class="col-xs-2"></div>
                    <div class="col-xs-3">
                        <button type="button" class="btn btn-primary" id="btn-mt-yield" name="btn-mt-yield">Wafer Yield In Month</button>
                    </div>
                    <div class="col-xs-2"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btn-wf-cancel" name="btn-wf-cancel" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
