
@{
    ViewBag.Title = "VcselRMA";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<link type="text/css" rel="stylesheet" href="~/Content/bootstrap-datepicker/bootstrap-datepicker.min.css" />
<link type="text/css" rel="stylesheet" href="~/Scripts/jquery-autocomplete/jquery.auto-complete.css" />
<link type="text/css" rel="stylesheet" href="~/Content/burnin.css" />
<link type="text/css" rel="stylesheet" href="~/Scripts/bootstrap-tagsinput/bootstrap-tagsinput.css" />

<script type="text/javascript" src="~/Scripts/jquery-autocomplete/jquery.auto-complete.min.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>

<script type="text/javascript" src="~/Scripts/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap-tagsinput/bootstrap3-typeahead.js"></script>

<script type="text/javascript" src="~/Scripts/vcsel-rma.js"></script>

<script type="text/javascript">
    $(function () {
        VCSEL_RMA.show();
    })
</script>

<div class="row">
    <div class="nav navbar-nav navbar-left">
        <img src="~/Content/images/PJ/Yield.png" style="height:40px; width:40px">
    </div>
    <div class="nav navbar-nav navbar-left">
        <ol class="breadcrumb" style="width:600px">
            <li class="active">VCSEL RMA</li>
        </ol>
    </div>
</div>
<div class="row">
    <nav class="col-xs-2 nav-sidebar">
        <ul class="nav">
            <li>
                <a href="/DataAnalyze/MonthlyVcsel">
                    <span class="item-show">BurnIn Yield</span>
                </a>
            </li>
            <li>
                <a href="/DataAnalyze/WaferDistribution">
                    <span class="item-show">Data Distribution</span>
                </a>
            </li>
            <li class="active">
                <a href="/DataAnalyze/VcselRMA">
                    <span class="item-show">Vcsel RMA</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="col-xs-10">
        <div class="v-container">
            <div class="v-filter" style="height:45px;">
                    <div class="col-xs-2"><label class="control-label">VCSEL RATE</label></div>
                    <div class="col-xs-3">
                        @Html.DropDownList("vcselratelist", null, new { @id = "vcselratelist", @class = "form-control" })
                    </div>
                    <div class="col-xs-7"></div>
            </div>
            <div class="v-content">
                <div class="col-xs-12">
                    <div class="v-box" id="vcsel_dppm"></div>
                </div>
                <div class="col-xs-12">
                    <div class="v-box" id="rmavshipdate"></div>
                </div>
                <div class="col-xs-12">
                    <div class="v-box" id="rmaaccumulatedata"></div>
                </div>
                <div class="col-xs-12">
                    <div class="v-box" id="vcsel_milestone"></div>
                </div>
                <div class="col-xs-12">
                    <div class="v-box" id="vcsel_milestone_ship"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hidden">
    <a id="exportLink"></a>
</div>

<div class="modal fade" id="rmarawdata" tabindex="-1" role="dialog" style="margin-top:10%">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">RMA RAW DATA - <span id="waferval" name ="waferval"></span></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="col-xs-6">
                            <a id="waferyield" name="waferyield" target="_blank" class="btn btn-success" href="#">Wafer Yield</a>
                        </div>
                        <div class="col-xs-6">
                            <a id="wafertestdata" name="wafertestdata" target="_blank" class="btn btn-danger" href="#">Wafer Test Data</a>
                        </div>
                    </div>
                    <div class="col-xs-6">
                    </div>
                </div>
                <hr/>
                <div class="row" style="padding-left:15px;padding-right:15px;">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th>SN</th>
                                <th>PN</th>
                                <th>VcselType</th>
                                <th>ProductType</th>
                                <th>Ship Date</th>
                                <th>Open Date</th>
                                <th>Customer</th>
                                <th>Report</th>
                            </tr>
                        </thead>
                        <tbody id="ramrawbody" name="ramrawbody"></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger"  data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $('body').on('change', '#vcselratelist', function () {
        var rate = $("#vcselratelist").val();
        window.location.href = '/DataAnalyze/VcselRMA?rate=' + rate;
    });
</script>