
@{
    ViewBag.Title = "VcselRMA";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<link type="text/css" rel="stylesheet" href="~/Content/bootstrap-datepicker/bootstrap-datepicker.min.css" />
<link type="text/css" rel="stylesheet" href="~/Scripts/jquery-autocomplete/jquery.auto-complete.css" />
<link type="text/css" rel="stylesheet" href="~/Content/burnin.css" />
<link type="text/css" rel="stylesheet" href="~/Scripts/bootstrap-tagsinput/bootstrap-tagsinput.css" />

<script type="text/javascript" src="~/Scripts/jquery-autocomplete/jquery.auto-complete.min.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>

<script type="text/javascript" src="~/Scripts/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap-tagsinput/bootstrap3-typeahead.js"></script>

<script type="text/javascript" src="~/Scripts/vcsel-rma.js"></script>

<script type="text/javascript">
    $(function () {
        VCSEL_RMA.show();
    })
</script>

<div class="row">
    <div class="nav navbar-nav navbar-left">
        <img src="~/Content/images/PJ/Yield.png" style="height:40px; width:40px">
    </div>
    <div class="nav navbar-nav navbar-left">
        <ol class="breadcrumb" style="width:600px">
            <li class="active">VCSEL RMA</li>
        </ol>
    </div>
</div>
<div class="row">
    <nav class="col-xs-2 nav-sidebar">
        <ul class="nav">
            <li>
                <a href="/DataAnalyze/MonthlyVcsel">
                    <span class="item-show">BurnIn Yield</span>
                </a>
            </li>
            <li>
                <a href="/DataAnalyze/WaferDistribution">
                    <span class="item-show">Data Distribution</span>
                </a>
            </li>
            <li class="active">
                <a href="/DataAnalyze/VcselRMA">
                    <span class="item-show">Vcsel RMA</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="col-xs-10">
        <div class="v-container">
            <div class="v-filter">
            </div>
            <div class="v-content">
                <div class="col-xs-12">
                    <div class="v-box" id="vcsel_dppm"></div>
                </div>
                <div class="col-xs-12">
                    <div class="v-box" id="vcsel_milestone"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hidden">
    <a id="exportLink"></a>
</div>

