@model Prometheus.Models.UserBlogVM

@{
    ViewBag.Title = "ModifyBlogDoc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-4"><h2>Modify Blog Doc</h2></div>
    <div class="col-lg-1"><h2><a data-toggle="tooltip" title="Back To Web Doc" href="/User/WebDoc?DocKey=@(Model.DocKey)&Creator=@(Model.UserName)"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a></h2></div>
    <div class="col-lg-7"></div>
</div>

<hr />

<script src="../../ckeditor/ckeditor.js"></script>

@using (Html.BeginForm("ModifyBlogDoc", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <div class="row">
            <div class="col-lg-12">

                <div class="form-group">
                    <label class="control-label">Blog Doc</label>
                </div>

                <div class="form-group">
                    <div>
                        <textarea name="editor1" id="editor1" rows="10" cols="80">@Model.Content</textarea>
                        <script>
                            CKEDITOR.replace('editor1', { htmlEncodeOutput: true, filebrowserUploadUrl: '/userfiles/Upload.ashx' });
                        </script>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-4">
                    <span class="btn btn-default btn-file" id="choosefile4">
                        Editor Attachement <input type="file" name="files4" id="file4" runat="server" onchange="ShowFileNames4(this)" />
                    </span>
                </div>
                <div class="col-lg-8">
                    <div class="col-lg-11">
                        <label class="control-label" id="showfile4" name="showfile4"></label>
                    </div>
                    <div class="col-lg-1">
                        <input class="form-control text-box single-line" value="" id="contentattach" name="contentattach" type="hidden" />
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                                            function ShowFileNames4(oFile) {
                                                $('#showfile4').text(oFile.value);
                                                document.getElementById("contentattach").value = oFile.value;
                                            }
            </script>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <input class="form-control text-box single-line" value="@(Model.DocKey)" id="HDocKey" name="HDocKey" type="hidden" />
        </div>
         <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <div class="col-lg-3">
                        <input type="submit" value="Submit" class="btn btn-default" />
                    </div>
                    <div class="col-lg-9">
                    </div>
                </div>
            </div>
        </div>
    </div>

}

