
@{
    ViewBag.Title = "ResetNoticeA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Notice</h2>

<hr />
<h3> A reset email has been sent to your address</h3>
<h3> Please check your emial and click the reset link to rest your password</h3>
<h3> Have fun!</h3>