
@{
    ViewBag.Title = "UserCenter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">&nbsp;</div>
</div>

<div class="row">
    <div class="col-lg-12">&nbsp;</div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2>@ViewBag.UserName Center</h2>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">&nbsp;</div>
</div>

<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-2">
        <div class="row"><img src="~/Content/images/Assign2Me.png" style="height:158px; width:158px"></div>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-2">
        <div class="row"><img src="~/Content/images/IAssigned.png" style="height:158px; width:158px"></div>
        <div class="row">&nbsp;</div>
        <div class="row"><a href="/User/IBook"><img src="~/Content/images/ITag.png" style="height:158px; width:158px"></a></div>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-2">
        <div class="row"><a href="/User/ILearn"><img src="~/Content/images/ILearn.png" style="height:158px; width:158px"></a></div>
        <div class="row">&nbsp;</div>
        <div class="row"><img src="~/Content/images/MyStatus.png"  style="height:158px; width:158px"></div>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-2">
        <div class="row"><a href="/User/IBLOG"><img src="~/Content/images/IBlog.png" style="height:158px; width:158px"></a></div>
        <div class="row">&nbsp;</div>
        <div class="row"><img src="~/Content/images/ICare.png"  style="height:158px; width:158px"></div>
    </div>
    
</div>

<div class="row">
    <div class="col-lg-12">&nbsp;</div>
</div>