
@{
    ViewBag.Title = "UserCenter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">&nbsp;</div>
</div>

<div class="row">
    <div class="col-lg-12">&nbsp;</div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2>@ViewBag.UserName Center</h2>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">&nbsp;</div>
</div>

<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-2">
        <div class="row"><a href="/User/Assign2Me?username=@(ViewBag.RealUserID)"><img src="~/Content/images/usercenter/Assign2Me.png" style="height:158px; width:158px"></a></div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div class="well" style="background-color:white;border-left-color:#006DC0;border-top-color:snow;border-right-color:white;border-bottom-color:white;border-top-left-radius:0px;border-bottom-left-radius:0px">
                    <div class="row">Pending&nbsp;&nbsp;&nbsp;&nbsp;@(ViewBag.pendinglist.Count)</div>
                    <div class="row">Working&nbsp;&nbsp;&nbsp;&nbsp;@(ViewBag.workinglist.Count)</div>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-2">
        <div class="row"><a href="/User/IAssigned?username=@(ViewBag.RealUserID)"><img src="~/Content/images/usercenter/IAssigned.png" style="height:158px; width:158px"></a></div>
        <div class="row">&nbsp;</div>
        <div class="row"><a href="/User/ITag"><img src="~/Content/images/usercenter/ITag.png" style="height:158px; width:158px"></a></div>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-2">
        <div class="row"><a href="/User/ILearn"><img src="~/Content/images/usercenter/ILearn.png" style="height:158px; width:158px"></a></div>
        <div class="row">&nbsp;</div>
        <div class="row"><a href="/User/MyStatus?username=@(ViewBag.RealUserID)"><img src="~/Content/images/usercenter/MyStatus.png" style="height:158px; width:158px"></a></div>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-2">
        <div class="row"><a href="/User/IBLOG"><img src="~/Content/images/usercenter/IBlog.png" style="height:158px; width:158px"></a></div>
        <div class="row">&nbsp;</div>
        <div class="row"><a href="/User/ICare?username=@(ViewBag.RealUserID)&month=@(ViewBag.month)"><img src="~/Content/images/usercenter/ICare.png" style="height:158px; width:158px"></a></div>
    </div>
    
</div>

<div class="row">
    <div class="col-lg-12">&nbsp;</div>
</div>