
@{
    ViewBag.Title = "ValidateNoticeB";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Notice</h2>
<hr/>
<h3> Active account sucessfully</h3>
<h3> You can login and try some function as you wish</h3>
<h3> Have fun!</h3>