
@{
    ViewBag.Title = "WeeklyReportList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var colors = new String[] { "success", "primary", "warning", "info", "danger" };
}

<div class="row">
    <div class="nav navbar-nav navbar-left">
        <img src="~/Content/images/ucicon/ILearnIcons.png" style="height:40px; width:40px">
    </div>
    <div class="nav navbar-nav navbar-left">
        <ol class="breadcrumb">
            <li><a href="/User/UserCenter">User Center</a></li>
            <li class="active">Weekly Report</li>
        </ol>
    </div>
</div>

<script src="~/Scripts/highcharts.js"></script>
<script src="~/Scripts/exporting.js"></script>
<script src="~/Scripts/weeklyreport.js"></script>


<ul class="nav nav-pills nav-stacked col-xs-2" data-intro="Select tab to see detail." data-step="1">
    <li><a href="#tab_a" data-toggle="pill">I Learn</a></li>
    <li class="active"><a href="/User/WeeklyReportList">Weekly Report</a></li>
    <li><a href="#tab_c" data-toggle="pill">Training</a></li>
    <li><a href="#tab_d" data-toggle="pill">I Share</a></li>
</ul>
<div class="tab-content col-xs-10" data-intro="Show detail of tab" data-step="2">
    <div class="wr-list">
        <table class="table table-hover table-condensed" cellpadding="0">
            <thead>
                <tr>
                    <th>Reporter</th>
                    <th>Update Time</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in ViewBag.userreportlist)
                {
                    <tr>
                        <td><a href="/User/WeeklyReport?username=@user.Key">@user.Key.Split(new char[] { '@' })[0]</a></td>
                        <td>@(string.IsNullOrEmpty(user.Value) ?"--":(user.Value))</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>