
@{
    ViewBag.Title = "ProjectRMA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-3">
        <h2>Project RMA</h2>
    </div>
    <div class="col-md-2">
        <h2><a data-toggle="tooltip" title="Goto ViewAll" href="/Project/ViewAll"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a></h2>
    </div>
    <div class="col-md-7"></div>
</div>

<hr/>

