
@{
    ViewBag.Title = "TestPNDesc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-xs-12">
        <ol class="breadcrumb" style="font-size:18px">
            <li><a data-toggle="tooltip" title="Goto ViewAll" href="/Project/ViewAll">All Projects</a></li>
            @if (ViewBag.PNDES != null)
            {
                <li class="active">PN List of @ViewBag.PNDES</li>
            }
            else
            {
                <li class="active">PN List</li>
            }

        </ol>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">&nbsp;</div>
</div>


@if (Model != null)
{
    <table id="pnList" class="table table-hover" cellspacing="0">
        <thead>
            <tr>
                @foreach (var title in ViewBag.tHead)
                {
                    <th>@title</th>
                }
            </tr>
        </thead>
        <tbody>
            @for (var idx = 0; idx <= (ViewBag.pnList.Count / ViewBag.colSize); idx++)
            {
                var endIdx = ((idx + 1) * ViewBag.colSize <= ViewBag.pnList.Count) ? (idx + 1) * ViewBag.colSize : ViewBag.pnList.Count;
                <tr>
                    @for (var i = idx * ViewBag.colSize; i < endIdx; i++)
                    {
                        <td>@ViewBag.pnList[i]</td>
                    }
                    @if((idx + 1) * ViewBag.colSize > ViewBag.pnList.Count){
                        for(var m = 0; m < ((idx + 1) * ViewBag.colSize - ViewBag.pnList.Count); m++)
                        {
                            <td></td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#pnList').DataTable({
                'iDisplayLength': 10,
                'aLengthMenu': [[10, 25, 50, 100, -1],
                                [10, 25, 50, 100, "All"]],
                'ordering': false,
                'info': false,
                dom: 'lBfrtip',
                buttons: ['copyHtml5', 'csv', 'excelHtml5']
            });
        });
    </script>
}